# Hypothesis_Testing _Cutlets.csv
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.
File : Cutlets.csv

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
data=pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [15]:
unitA=pd.Series(data.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [17]:
unitB=pd.Series(data.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [18]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [19]:
p_value[1]

0.4722394724599501

In [21]:
'''
Ho=No difference in diameter
Ha= There is difference in diameter
alpha value is 0.05/2=0.25 because its a 2 tail test data. p_value is greater than alpha value. So null hypothesis is not
rejected. So there is no significant difference between 2 samples
'''

'alpha value is 0.05/2=0.25 because its a 2 tail test data. p_value is greater than alpha value. So null hypothesis is not\nrejected\n'