# Hypothesis_Testing _CustomerOrderForm.csv
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [6]:
data=pd.read_csv("costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [8]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [10]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
datatable=np.array([[271,267,269,280],[29,33,31,20]])
datatable

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [14]:
chi2_contingency(datatable)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
'''
Ho= Independence of categorical variable. Customer order form defective and doesnot vary ny centre
Ha= Dependent of categorical variable. Customer order form defective and vary by centre
p_value=0.277 is greater than alpha value=0.05. We accept null hypothesis, customer order form defective and vary by centre 
'''